---
const year = new Date().getFullYear()
---

<footer>
  <p>
    <span>
      © <span id="year">{year}</span>
      <a
        href="https://github.com/ryoma-abe"
        target="_blank"
        rel="noopener noreferrer">RyoCode</a
      >
    </span>
  </p>
</footer>

<style>
  footer {
    padding-block: 67px;
    text-align: center;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 768px) {
      padding-inline: 0;
    }

    & p span video {
      display: inline-block;
      margin-inline: 4px;
    }
    & a {
      color: var(--text-color);
      text-decoration: none;
      transition: var(--transition-text);

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-description-color);
        }
      }
    }

    & video {
      translate: 0 -2px;
    }
  }
</style>

<script is:inline>
  document.querySelector('#year').textContent = new Date().getFullYear()
</script>
